.content {
    display: grid;
    grid-template-areas:
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ."
    ;
    gap: 8.5rem;
}

aside {
    grid-area: hero;
}

main {
    grid-area: form;
}


aside h1 {
    font-size: 6rem;
}

aside h1 span {
    font-size: 6rem;
}

.color-font-span {
    color: var(--color-secondary);
}

main {
    width: 60rem;
    height: 52rem;
    /* opacity 0.15 */
    border: 0.1rem solid var(--borda-padrao);
    padding: 4.4rem 5.7rem;
    border-radius: var(--borda-radius-padrao);
}

main h2 {
    font-size: 3.6rem;
    font-weight: 500;

}

main h2 span {
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;

    height: 5.5rem;
    border-radius: var(--borda-radius-padrao);
    background-color: var(--color-terciary);
    font-size: 2.4rem;
    color: var(--white);

}

/* A partir do segundo botão que estiiver dentro do actions, vai ter outra cor */
main .actions a+a {
    background-color: var(--color-secondary);
    margin-top: 4.8rem;
}

main footer p {
    font-size: 1.6rem;
    margin-top: 8rem;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: #000000;
}

.underline {
    text-decoration: underline;
}

/* Estilização da página cadastro entidade */

main header {
    display: flex;
    align-items: center;
    gap: 0 1.8rem;
}

main header i {
    font-size: 2rem;
    color: var(--color-secondary);
}

main form {
    margin-top: 1.6rem;
}

main form label {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    display: block;
}

main form input {
    width: 48.9rem;
    height: 5.5rem;

    background: var(--white);
    border: 0.1rem solid var(--borda-padrao);
    border-radius: var(--borda-radius-padrao);

}